html, body {
   min-height: 100%;
}

.menu-wrapper {
    position: absolute;
    margin-bottom: 5px;
}
.menu {
    background-color: white;
    color: black;
    margin-top: 75px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
}
.user{
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 15px;
}
.user span{
    font-size: 25px;
}
.list {
    margin-top: 50px;
    font-size: 25px;
}

ul.icons {
    list-style: none;
    text-align: center;
}

a {
     text-decoration: none;
     color: black;
}
#on{
    color: green;
}
.img {
    background-color:#ee6e73 ;
    border-radius: 50px;
    width: 80px;
    height: 50px;
    text-align: center;
    margin-left: 100px;
}

#user-img {
    font-size: 23px;
    color: white;
    padding-top: 15px;
    
    
}